<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vincent.actionbarpractice" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- The main/home activity (it has no parent activity) -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Added a child page to create a sample to demo the "UP" button -->
        <!-- A child of the main activity -->
        <activity
            android:name=".NextPage"
            android:label="@string/title_activity_next_page"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!-- add the case android.R.id.home to prevent crash -->
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vincent.actionbarpractice.MainActivity" />

        </activity>
    </application>

</manifest>
